@using proyecto2

@model CuestionarioHR

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publico)
            </th>
            <th>
              Preguntas
            </th>
            <th>
                respuestas
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.cuest ) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCuestionario)
            </td>
  
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publico)
            </td>
            <td>

                    @foreach (var respuestas in Model.Preguntas2.Where(e=>e.IdCuestionario==item.IdCuestionario))
                    {

                            @Model.Preguntas2.Count(e => e.IdCuestionario == item.IdCuestionario)

                                 
                            @Model.Respuestas2.Count(e => e.IdPregunta == respuestas.IdPregunta)
              <br>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
