@model IEnumerable<proyecto2.Models.dbModels.Respuesta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.respuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RCorrecta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPreguntaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.respuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RCorrecta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPreguntaNavigation.IdPregunta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRespuesta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRespuesta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRespuesta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
